################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/swf/m.swf
/swf/main.swf
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Toshinou-Buttman-Gagong/v15/.suo
/.vs/VSWorkspaceState.json
/src/js/worker - Kopya.js
/.vs/slnx.sqlite-journal
/tryouts/canvas.html
/.vs/config/applicationhost.config
